<%= form_with(model: lecture, local: true , :html => {:multipart => true}) do |form| %>
  <% if lecture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lecture.errors.count, "error") %> prohibited this lecture from being saved:</h2>

      <ul>
      <% lecture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.cktext_area :content %>
    <%= form.text_field :content, id: :lecture_content %>
  </div>

 
  <div class="field">
    <%= form.label :course_id %>
     <%= form.select :course_id, Course.all.collect{|course| [course.title, course.id]} %>
  </div>

<div class="field">
    <%= form.label :attachment %><br>
    <%= form.file_field :attachment %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
