<p id="notice"><%= notice %></p>

<h1>Lectures</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>Course</th>
      <th colspan="4">actions</th>
    </tr>
  </thead>
  
  <tbody>
    <% @lectures.each do |lecture| %>
      <tr>
        <td><%= lecture.content %></td>
        <td><%= lecture.course.title %></td>
        <td><%= link_to 'Show', lecture %></td>
        <td><%= link_to 'Edit', edit_lecture_path(lecture) %></td>
        <td><%= link_to 'Destroy', lecture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% if (!lecture.users.include? current_user) %>
        <td><%= link_to 'spam', spam_lecture_path(lecture) %></td>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lecture', new_lecture_path %>
