<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @lecture.content %>
</p>

<p>
  <strong>Attachment:</strong>
  <%= link_to 'Download file', @lecture.attachment_url %>
</p>

<p>
  <strong>Course:</strong>
  <%= @lecture.course.title %>
</p>

<%= link_to 'Edit', edit_lecture_path(@lecture) %> |
<%= link_to 'Back', lectures_path %>

<%= link_to like_lecture_path(@lecture), method: :put do %>
  Like
  <%= @lecture.get_upvotes.size %>
  <% end %>

<%= link_to dislike_lecture_path(@lecture), method: :put do %>
  Dislike
  <%= @lecture.get_downvotes.size %>
<% end %>


<%= commontator_thread(@lecture) %>
